@import url(http://fonts.googleapis.com/css?family=Karla:700,400);
body {
  margin: 0;
  background-color: #bada55; }

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: pointer; }

.bacterium {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background: #ffffff; }

body {
  font-family: Karla, sans-serif;
  font-size: 11px;
  font-weight: 700; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: underline;
  text-transform: uppercase; }

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  z-index: 1; }
  .footer .info {
    position: relative;
    visibility: hidden;
    pointer-events: none;
    z-index: 1; }
  .footer .toggle {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 2; }
    .footer .toggle span {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background: black;
      color: white; }
  .footer:hover .info {
    visibility: visible;
    pointer-events: all; }
  .footer:hover .toggle {
    display: none; }
