body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/*Stack child items vertically*/
.vbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*Align children vetically*/
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
/*Stack child items horizontally*/
.hbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*Align children horizontally*/
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
/*Stretch item along parent's main-axis*/
.flex {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*Stretch item along parent's cross-axis*/
.stretch {
    align-self: stretch;
}

.main-space {
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

/*Stack child items to the main-axis start*/
.main-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}
/*Stack child items to the cross-axis start*/
.cross-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
/*Stack child items to the main-axis center*/
.main-center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*Stack child items to the cross-axis center*/
.cross-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
/*Stack child items to the main-axis end.*/
.main-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
/*Stack child items to the cross-axis end.*/
.cross-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;

    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}
/*Stretch child items along the cross-axis*/
.cross-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

/*Wrap items to next line on main-axis*/
.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#codrops-ad-wrapper {
	top: auto !important;
	bottom: 10px;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: white;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

.bl-main a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

.bl-main a:hover {
	color: #fff;
}

.container { height: 100%; }


.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	-moz-border-radius: 24px 0 0 0;
    border-radius: 24px 0 0 0;
	background: -webkit-linear-gradient(#d33682,#ff83cf);
    background: -moz-linear-gradient(#d33682,#ff83cf);
    background: -o-linear-gradient(#d33682,#ff83cf);
    background: linear-gradient(#d33682,#ff83cf);
    background-size:1px 200%;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	-moz-border-radius: 0 24px 0 0;
    border-radius: 0 24px 0 0;
	background: -webkit-linear-gradient(#6c71c4,#B9BEFF);
    background: -moz-linear-gradient(#6c71c4,#B9BEFF);
    background: -o-linear-gradient(#6c71c4,#B9BEFF);
    background: linear-gradient(#6c71c4,#B9BEFF);
    background-size:1px 200%;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
    -moz-border-radius: 0 0 0 24px;
    border-radius: 0 0 0 24px;
	background: -webkit-linear-gradient(#268bd2,#73D8FF);
    background: -moz-linear-gradient(#268bd2,#73D8FF);
    background: -o-linear-gradient(#268bd2,#73D8FF);
    background: linear-gradient(#268bd2,#73D8FF);
    background-size:1px 200%;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	-moz-border-radius: 0 0 24px 0;
    border-radius: 0 0 24px 0;
	background: -webkit-linear-gradient(#2aa198,#77EEE5);
    background: -moz-linear-gradient(#2aa198,#77EEE5);
    background: -o-linear-gradient(#2aa198,#77EEE5);
    background: linear-gradient(#2aa198,#77EEE5);
    background-size:1px 200%;
}

.bl-main > section:hover {
    background-position: 500%;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	font-family: 'Righteous', cursive;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-main > section .fa-times {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-main > section .fa-times:hover {
    color: lightgray;
}

.bl-content,
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #d33682;
	-moz-border-radius: 48px 0 0 0;
    border-radius: 48px 0 0 0;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #6c71c4;
	-moz-border-radius: 0 48px 0 0;
    border-radius: 0 48px 0 0;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #268bd2;
	-moz-border-radius: 0 0 0 48px;
    border-radius: 0 0 0 48px;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #2aa198;
	-moz-border-radius: 0 0 48px 0;
    border-radius: 0 0 48px 0;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}*/

.bl-content,
.fa-times {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .fa-times {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}

.icon-text {
	font-family: 'Righteous', cursive;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bl-box:hover .hvr-underline-from-center:before {
  left: 0;
  right: 0;
}

.image-wrap img{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid white;
  width: 50%;
  height: auto;
}

.center-text {
	text-align: center;
}

.right-text {
	/*text-decoration: underline;*/
}

.hr {
    height: 0;
    margin-top: -1.5em;
    margin-bottom: 2.5em;
    margin-left: auto;

    border-style: solid;
    border-width: 2px;
    -webkit-transition: all 0.3s ease-out 0.5;
    -moz-transition: all 0.3s ease-out 0.5;
    transition: all 0.3s ease-out 0.5;
}

.hr:before {
    opacity: 0;
    margin-right: 100%;
    color: black;
    transition: opacity 0.45s;
}
.bl-content:hover .hr:before {
    margin-right: 50%;
    opacity: 1;
}

.slab-text {
	font-family: 'Lato', sans-serif;
}

/*************/
/* Accordion */
/*************/
.acc_pink {
	background: -webkit-linear-gradient(#d33682,#ff83cf);
    background: -moz-linear-gradient(#d33682,#ff83cf);
    background: -o-linear-gradient(#d33682,#ff83cf);
    background: linear-gradient(#d33682,#ff83cf);
}

.acc_purple {
	background: -webkit-linear-gradient(#6c71c4,#B9BEFF);
    background: -moz-linear-gradient(#6c71c4,#B9BEFF);
    background: -o-linear-gradient(#6c71c4,#B9BEFF);
    background: linear-gradient(#6c71c4,#B9BEFF);
}

.acc_blue {
	background: -webkit-linear-gradient(#268bd2,#73D8FF);
    background: -moz-linear-gradient(#268bd2,#73D8FF);
    background: -o-linear-gradient(#268bd2,#73D8FF);
    background: linear-gradient(#268bd2,#73D8FF);
}

.accordion {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.accordion__control {
	font-family: 'Lato', sans-serif;
	position: relative;
	padding: 1.5rem;
	font-size: 1.8rem;
	font-weight: 700;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
    background-size:1px 500%;
}
.accordion__control:first-child {
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
}
.accordion__control:nth-last-child(2){
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
}

.accordion__control:hover, .accordion__control--active {
  background-color: #d6d6d6;
  background-position:500%;
}
.accordion__control:hover {
  cursor: pointer;
}
.accordion__indicator {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.8rem;
}
.accordion__panel {
	padding: 16px;
}

p, .accordion__panel {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
}

.comment {
	font-style: italic;
	color: lightgray;
	opacity: 0.5;
}

